{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title>
    {% comment %} <link rel="stylesheet" href="login.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div class="resetmain">
    <p class="sign" align="center">Forgot your password?</p>
    <form method="POST">
      {% csrf_token %}
      <input class="un " type="email"  id="username" name="email" align="center" autocomplete="email" maxlength="254" required id="id_email" placeholder="Username">
      <button class= "resetsubmit" type="submit">Send me instructions!</button>
    </form>
  </div>
</body>
</html>